.detail {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: blue; */
  height: 100%;
}
.detailHeader {
  display: flex;
  flex-direction: column;
  /* background: violet; */
  align-items: center;
  text-align: center;
}
.detailBody {
  /* background-color: rgb(19, 9, 63); */
}
.raidBtn {
  /* background-color: bisque; */
  padding: 10px 0;
  text-align: center;
}
.spec {
  /* background-color: blueviolet; */
  display: flex;
  color: #fff;
  justify-content: space-around;
}
.user {
  /* background-color: antiquewhite; */
}
.control_group {
  /* background-color: azure; */
}
